/* 
project name  ===> Corona-sd
 Design by    ===> aboabker hilal
 start work   ===> 3/18/2020
 main color   ===> teal
 font-color   ===> #6c6c6c
 font-family  ===> "NeoSansArabic";

*/

/*  start gernal settig */
@import url("../neo-sans-arabic-cufonfonts-webfont/NeoSansArabicBold.woff");
@import url("../neo-sans-arabic-cufonfonts-webfont/Neo\ Sans\ Arabic\ Regular.woff");
@font-face {
  font-family: "NeoSansArabic";
  src: url("../neo-sans-arabic-cufonfonts-webfont/NeoSansArabicBold.woff");
  font-family: "NeoSansArabic";
  src: url("../neo-sans-arabic-cufonfonts-webfont/Neo\ Sans\ Arabic\ Regular.woff");
}
* {
  padding: 0;
  margin: 0;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

.detail-project a,
.modren-project a,
.popular-project a {
  text-decoration: none !important;
}
body {
  text-align: right;
  font-family: "NeoSansArabic";
  background-color: #f9faf5;
}
.bg-g {
  background-color: green;
}
.bg-b {
  background-color: blue;
}
.bg-y {
  background-color: yellowgreen;
}
.bg-x {
  background-color: #14e3ec;
}
.bg-p {
  background-color: #c317e2;
}
.bg-c {
  background-color: #ffc300;
}
.coron {
  /* color: tomato;
  font-weight: bold; */
}
.fa-slack {
  font-size: 1.4rem;
}
/*  start about initiative volunter*/
.image-initative {
  border: 1px solid #eee;
}
.content .social-media i {
  font-size: 2rem;
  margin: 0 0.2rem;
}
.social-media .fa-facebook-square {
  color: #3b5998;
}
.social-media .fa-twitter-square {
  color: #55acee;
}
.social-media .fa-whatsapp-square {
  color: #080;
}
.about-content {
  padding: 1.5rem;
  border: 2px solid #eee;
  margin-top: 2rem;
}
.about-content p {
  font-weight: bold;
  color: #6c6c6c;
  letter-spacing: 1px;
  font-size: 1rem;
}
/*  end about initiative volunter*/

/*  start news */
.news .image-news {
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #eee;
  padding: 2rem;
  margin: 1rem;
}
.news .content-news {
  border: 2px solid #eee;
  padding: 1rem;
  margin: 1rem;
}
.news .content-news p {
  color: #6c6c6c;
  margin-bottom: 0;
}
/*  end news */

/*  start section status */
section {
  margin-top: 4rem;
}
.statuses .status {
  margin: 1rem;
}
.status .title {
  position: relative;
}
.status .title::after {
  position: absolute;
  content: "";
  height: 0.2rem;
  width: 50%;
  right: 50%;
  background-color: teal;
}
.discover {
  background-color: #ffc300;
}
.cure {
  background-color: #16a085;
}
.death {
  background-color: #c70039;
}
.statuses .status {
  color: #fff;
  padding: 1.4rem;
  font-weight: bold;
  /* margin: 1rem; */
}
.status h4,
.status h3,
.status span,
.status bdo {
  color: #ffffff;
  font-family: "NeoSansArabic";
}
.status i {
  color: #ffffff;
  font-weight: bold;
}
.status h4 {
  text-align: center;
}
/*  end section status */

/*  start how-work */
.title h3,
i {
  color: teal;
  font-weight: bold;
}

.how-work .progress {
  height: 0.5rem;
  margin-top: 0.7rem;
  background: #fff;
  border: 1px solid #ccc;
}
.how-work .bg {
  background-color: teal;
}
.how-work .title-progress {
  font-size: 1.2rem;
}

/*  end how-work */

/*  start import-refrance */
.import-refrance .content-ref {
  box-shadow: 0px 0px 2.6rem #e4e3e3;
  margin-top: 1rem;
  border-radius: 0.6rem;
}
.import-refrance .fa-puzzle-piece {
  font-size: 1.3rem;
  margin-left: 0.3rem;
}

.import-refrance .title-ref {
  color: #fff;
  background-color: teal;
  border: none;
  padding: 0.7rem;
  text-align: center;
  font-weight: bold;
}
.import-refrance .title-ref i {
  color: #fff;
}
.import-refrance .ref-content {
  background-color: #fff;
  padding: 0.7rem;
}
.import-refrance .ref-content ul {
  margin: 1.5rem;
}

.import-refrance .ref-content {
  margin-top: 0.6rem;
}
.import-refrance .ref-content .im-ref {
  border: 2px solid #eee;
  padding: 0.8rem;
}
/*  end import-refrance */

/*  start other-initiative */
.other-initiative .initiative {
  padding: 1rem;
  background-color: #fff;
  box-shadow: 0px 0px 2.6rem #e4e3e3;
}
.initiative .fa-users {
  color: #48f375f2;
  font-size: 1.5rem;
}
.initiative h3 {
  font-weight: bold;
  font-size: 1rem;
}
/*  end other-initiative */

/*  start control-rom */
.control-rom .fa-bookmark {
  font-size: 1.3rem;
  margin-left: 0.3rem;
}
.control-rom .tab-rom {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
}
.control-rom .nav-tabs {
  box-shadow: 0px 0px 2.6rem #e4e3e3;
  margin-top: 2rem;
  background-color: #fff;
  width: 20%;
  margin-left: 0.8rem;
}
.control-rom .nav-tabs .nav-item {
  width: 100%;
}
.control-rom .tab-content {
  margin-top: 2rem;
  box-shadow: 0px 0px 2.6rem #e4e3e3;
  background-color: #fff;
  padding: 1rem;
  width: 80%;
}
.control-rom .tab-content .tab-pane a {
  color: #7c7c7c;
}
.control-rom .nav-tabs .nav-link {
  padding: 1rem;
  border: 1px solid #eee;
  color: #8c8c8c;
  border-radius: 0;
  font-size: 1rem;
}
.control-rom .nav-tabs .nav-link i {
  color: #ffc300;
}
.control-rom .nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active,
.active.fa-bookmark {
  color: teal;
  background-color: #fff;
}
.control-rom .nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active .fa-bookmark {
  color: #ffc300;
}
.control-rom .tab-content ul {
  margin: 2rem;
}
/*  end control-rom */

/*  start team work */

.team {
  background-color: #fff;
  box-shadow: 0px 0px 2.6rem #e4e3e3;
  margin-top: 2rem;
}

.team .title-team {
  color: #fff;
  background-color: teal;
  border: none;
  padding: 0.7rem;
  text-align: center;
}
.team .title-team h3 {
  margin-bottom: 0;
}
.team-content {
  border: 1px solid #eee;
  background-color: #fff;
  padding: 2rem;
}
.team-content ul {
  margin-right: 2rem;
}

.team-content ul li {
  list-style: arabic-indic;
  font-size: 1rem;
  line-height: 2rem;
}
.team-content h3 {
  font-weight: bold;
}
.team-content h5 {
  color: teal;
  font-weight: bold;
}
/*  end team work */

/*  copy right */
.copy-right {
  margin-top: 2rem;
}
.copy-right p {
  font-weight: bold;
  color: #8c8c8c;
}
.copy-right p a {
  color: #8c8c8c;
}

/*  end copy-right */

/*  start page team */
.teams a {
  color: #6c6c6c;
  font-size: 1rem;
  font-weight: bold;
}
.teams h1 {
  color: teal;
  font-weight: bold;
}

.teams .item-teams {
  margin: auto;
  width: 40%;
}

.teams ul {
  margin-top: 2rem;
  list-style: none;
}
.teams ul li {
  padding: 1rem;
  margin: 1rem;
  background-color: #fff;
  box-shadow: 0px 0px 2.6rem #e4e3e3;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}
.teams ul li:hover {
  background: teal;
  color: #fff;
}
/*  end page team */

/*  start ref-link */
.ref-link .link {
  margin-top: 1rem;
}
.ref-link .link p {
  background-color: #fff;
  box-shadow: 0px 0px 2.6rem #e4e3e3;
  padding: 0.7rem;
  cursor: pointer;
}
.ref-link .link p a {
  color: #6c6c6c;
  text-decoration: none;
  display: block;
}

/*  end ref-link */

/*  start scroll up */
#scroll-up {
  text-align: center;
  width: 60px;
  line-height: 60px;
  height: 60px;
  position: fixed;
  right: 1.5rem;
  border-radius: 50%;
  bottom: 1rem;
  z-index: 1009;
  color: #fff;
  border: none;
  outline: none;
  font-size: 1.6rem;
  font-weight: bold;
  cursor: pointer;
  display: none;
  background-color: #fff;
  box-shadow: 0px 0px 2.6rem #e4e3e3;
}
/*  end scroll up */

@media (max-width: 769px) {
  .mb-md {
    margin-bottom: 2rem;
  }
  .statuses .status {
    padding: 1rem;
  }
  .about-initative .content {
    margin-top: 1rem;
  }
  .about-initative .content h3 {
    font-size: 1.22rem;
  }

  .progress {
    margin: 1rem 0;
  }
  .im-ref {
    margin: 1rem 0;
  }
  .other-initiative .initiative {
    margin-bottom: 1rem;
  }
  .nav-tabs .nav-item {
    width: 100%;
  }

  .team-content {
    padding: 1rem;
  }
  .control-rom .tab-rom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
  }
  .control-rom .nav-tabs {
    width: 100%;
  }
  .control-rom .tab-content {
    width: 100%;
  }
  .image-initative {
    display: none;
  }
  .teams .item-teams {
    width: 100%;
  }
  .news .image-news,
  .news .content-news,
  .statuses .status {
    margin: 1rem 0;
  }
}
